/**treeselect*/
.layui-tree a{
    width: 100%;
}
.layui-form-select .layui-tree {
    display: none;
    position: absolute;
    left: 0;
    top: 2px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}
.layui-form-select .layui-treeselect-serach {
    display:none;
}

.layui-form-selected .layui-tree,.layui-form-selected  .layui-treeselect-serach {
    display: block;
}
.layui-form-selected  .layui-treeselect-serach{
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
   
   
}
.layui-form-selected  .layui-treeselect-serach input{
    height: 30px;
    line-height: 30px;
    border:1px solid #d2d2d2;
}


    .layui-form-selected .layui-tree .layui-this {
        background-color: #5FB878;
        color: #fff;
        width: 100%;
    }
    .layui-form-selected .layui-tree .layui-this i{
        color:#fff;
    }